// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


//all updates goes here such as color  etc, anything with $ sign goes here
$primary:#D3D3D3;
$secondary:#3B53C7;
$dark:#2352a4;



$navbar-dark-hover-color:$secondary;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here



.testimonial-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.testimonial-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.testimonial-text {
    color: black;
}
.hero-image-container {
    position: relative;
}

.hero-image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
